        h1{
            color: brown;
        }
        #abc{
            color: chartreuse;
        }
        .xyz{
            color: blueviolet;
        }
        *{
            background-color: blanchedalmond;
        }
